<div class="manualMacDonaldSong">
    <div class="manualInformation">
        <div class="infoText">Make your private animal song!</div>
        <div class="animalName inlineBlock">
          <div class="title">name:</div>
          <input [(ngModel)]="animalName"
                 class="animalInput"
                 placeholder="Enter animal..">
        </div>
        <div class="animalSound inlineBlock">
          <div class="title">sound:</div>
          <input [(ngModel)]="animalSound"
                 class="animalSoundInput"
                 placeholder="Enter animal sound..">
        </div>
        <div *ngIf="animalName && animalSound"
             (click)="createSong()"
              class="createSongButton">Create song!</div>
    </div>

    <div *ngIf="songCreated"
          class="animalSong">
          <app-animal-verse [animal]="animalObject"></app-animal-verse>
    </div>
</div>
