.manualMacDonaldSong {
    text-align: center;
    .manualInformation {
        box-shadow: 2px 2px 2px 0px #e9e6d3;
        background-color: #433f43e6;
        display: table;
        margin: 20px auto;
        padding: 35px;
        width: 600px;
        border-radius: 5px;
        .inlineBlock {
          display: inline-block;
          .title {
            text-align: left;
            padding-left: 7px;
            padding-bottom: 3px;
            font-size: 14px;
            color: #ffffff99;
          }
        }
        input {
            background-color: #272524;
            border: 0;
            border-radius: 3px;
            padding: 7px;
            outline: none;
            color: white;
            font-size: 14px;
            &:focus {
              box-shadow: 0px 0px 4px 0px #e9e6d3;
            }
            &.animalInput {
                margin-right: 15px;
            }
        }
        .infoText {
            font-size: 24px;
            font-weight: 500;
            color: white;
            margin-bottom: 20px;
        }
        .createSongButton {
          display: table;
          margin: 25px auto 0;
          background-color: #e3e1cd;
          border-radius: 5px;
          padding: 10px 20px;
          cursor: pointer;
          &:hover {
            background-color: #a4a293;
          }
        }
    }
}
