<div class="animalVerse">
  <div *ngIf="animal?.icon" class="icon">{{animal?.icon}}</div>
  <div class="title">The {{animal?.name | titlecase}}</div>
  <div class="text">
    Old MacDonald had a farm, E I E I O, <br>
    And on his farm he had a {{animal?.name}}, E I E I O, <br>
    With a {{animal?.sound}} {{animal?.sound}} here and a {{animal?.sound}} {{animal?.sound}} there, <br>
    Here a {{animal?.sound}}, there a {{animal?.sound}}, ev'rywhere a {{animal?.sound}} {{animal?.sound}}. <br>
    Old MacDonald had a farm, E I E I O.
  </div>
</div>
