.animalVerse {
  padding: 15px 30px 20px;
  text-align: center;
  margin: 20px auto;
  display: table;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0px rgba(233,230,211,1);
  background-color: #433f43e6;
  color: white;
  .icon {
    font-size: 25px;
  }
  .title {
    margin: 10px 0;
    font-size: 22px;
    font-weight: 600;
  }
  .text {
    line-height: 25px;
  }
}
