.macDonald {
    background: url('./../assets/images/animalFarmWallpaper.jpg');
    height: -webkit-fill-available;
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .buttons {
        position: absolute;
        background-color: #433f43;
        z-index: 100;
        height: 50px;
        width: 100%;
        box-shadow: 2px 2px 2px 0px rgba(233,230,211,1);
        .container {
            display: flex;
            align-items: center;
        }
        a {
            text-decoration: none;
            height: 50px;
            line-height: 50px;
            color: #ffffff99;
            padding: 0 15px;
            &.logo {
                &:hover {
                    background-color: transparent;
                    img {
                        box-shadow: 0px 0px 10px 1px #e9e6d3;
                    }
                }
            }
            &.active {
                background-color: #272524;
                color: white; 
            }
            &:hover {
                background-color: #272524;
                color: white;
            }
            img {
                margin-top: 7px;
                border-radius: 50%;
            }
        }
    }
    .content {
        position: absolute;
        top: 50px;
        bottom: 0;
        width: 100%;
        .macDonaldFarm {
            background: url('./../assets/images/mcDonaldfarm.jpg') no-repeat center;
            background-size:  contain;
            height: 500px;
            margin: 30px 0;
            position: relative;
            .text {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 85%;
                font-size: 35px;
                font-weight: 500;
                color: white;
                padding: 20px 35px;
                border-radius: 5px;
                background-color: #423e4299;
            }
        }
    }
}