<div class="macDonald">
    <div class="buttons">
        <div class="container">
                <a routerLink="/" class="logo" ><img src="../assets/images/farmIcon.png" height="35" width="35"></a>
                <a routerLink="/auto" routerLinkActive="active">All songs</a>
                <a routerLink="/manual" routerLinkActive="active">Private Song</a>
        </div>
    </div>
    <div class="content">
            <div *ngIf="router.url === '/'" class="macDonaldFarm">
                <div class="text">Welcome to Old MacDonald's Farm!</div>
            </div>
            <router-outlet></router-outlet>
    </div>
</div>
